<MudPaper Elevation="2" Class="my-8 d-flex ">
    @if (string.IsNullOrEmpty(Result?.ImageUrl))
    {
        <div class="image-not-found d-flex justify-center align-center mud-theme-dark">
            <MudIcon Icon="@Icons.Outlined.ImageNotSupported"/>
        </div>
    }
    else
    {
        <MudImage Src="@Result.ImageUrl"/>
    }
    <div class="d-flex flex-column">
        <div class="d-flex flex-column px-2 py-2">
            <MudText Typo="Typo.h6">@Result?.Name</MudText>
            @if (!string.IsNullOrEmpty(Result?.Type))
            {
                <MudText Typo="Typo.caption">@Result.Type.ToUpper()</MudText>
            }
        </div>
    </div>
</MudPaper>