@page "/search"
@page "/search/{Query}"
@using BigScreen.Frontend.Core.Enums

<PageTitle>Search</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Explore millions of movies, TV shows and people.</MudText>

<MudGrid Justify="Justify.FlexEnd">
    <MudItem xs="10">
        <MudTextField @bind-Value="ViewModel.SearchQuery" Label="@ViewModel.SearchTextFieldText" 
                      Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" DebounceInterval="500"/>
    </MudItem>
    <MudItem xs="2">
        <MudSelect @bind-Value="ViewModel.SearchFilter" Label="@ViewModel.SearchFilterText">
            <MudSelectItem Value="SearchFilter.All">All</MudSelectItem>
            <MudSelectItem Value="SearchFilter.Movies">Movies</MudSelectItem>
            <MudSelectItem Value="SearchFilter.TvShows">TV Shows</MudSelectItem>
            <MudSelectItem Value="SearchFilter.People">People</MudSelectItem>
        </MudSelect>
    </MudItem>
    <MudItem xs="12">
        @if (ViewModel.PageResults is not null)
        {
            foreach (var result in ViewModel.PageResults.Results)
            {
                <SearchResult Result="result" @key="result.Id"/>
            }
        }
        @if (ViewModel.PageResults is not null && ViewModel.PageResults.TotalResults == 0)
        {
            <div class="d-flex flex-column justify-center align-center mt-3">
                <MudText Typo="Typo.h6" Color="Color.Info">There are no matches for this query.</MudText>
                <MudIcon Icon="@Icons.Filled.SearchOff" Size="Size.Large" Color="Color.Info" Class="mt-2"/>
            </div>
        }
    </MudItem>
    <MudItem xs="12">
        @if (ViewModel.PageResults is not null && ViewModel.PageResults.TotalResults > 0)
        {
            <div class="d-flex justify-center">
                <MudPagination Count="ViewModel.PageResults.TotalPages" @bind-Selected="ViewModel.CurrentPage"></MudPagination>
            </div>
        }
    </MudItem>
</MudGrid>