<div class="mud-theme-primary py-6 py-sm-10">
    <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column flex-md-row align-center gap-3 gap-md-5">
        <MudSkeleton Height="450px" Width="300px" SkeletonType="SkeletonType.Rectangle"/>
        <div class="flex-1 d-flex flex-column">
            <MudSkeleton Height="50px" Width="25%"/>
            <MudSkeleton Width="300px"/>
            <MudSkeleton Width="100%" Height="100px" SkeletonType="SkeletonType.Rectangle"/>
        </div>
    </MudContainer>
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
    <MudGrid Class="flex-column-reverse flex-md-row">
        <MudItem xs="12" md="10">
            <div class="d-flex flex-column gap-4">
                <MudSkeleton Width="40px"/>
                <div class="flex-1 d-flex flex-nowrap gap-4 overflow-hidden">
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                    <MudSkeleton Width="154px" Height="350px" SkeletonType="SkeletonType.Rectangle"/>
                </div>
            </div>
        </MudItem>
        <MudItem xs="12" md="2">
            <div class="d-flex flex-column">
                <MudSkeleton Width="50px"/>
                <MudSkeleton Width="100px" Class="mt-2"/>
                <MudSkeleton Width="50px" Class="mt-4"/>
                <MudSkeleton Width="100px" Class="mt-2"/>
                <MudSkeleton Width="50px" Class="mt-4"/>
                <MudSkeleton Width="100px" Class="mt-2"/>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>