@page "/tvshows"
@using BigScreen.Frontend.Core.Enums
@using BigScreen.Frontend.Core.Helpers

<PageTitle>TV Shows</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">TV Shows</MudText>
    @if (ViewModel.PageResults is not null)
    {
        <GeneralPageLayout TFilter="SortFilter" PaginationCount="ViewModel.PageResults.TotalPages" FilterOptions="new[] {SortFilter.Popularity, SortFilter.Rating}"
                           SearchContextChanged="ViewModel.OnSearchContextChanged">
            <div class="d-flex flex-wrap justify-space-between gap-5">
                @if (ViewModel.PageResults.Results is not null && ViewModel.PageResults.Results.Any())
                {
                    @foreach (var result in ViewModel.PageResults.Results)
                    {
                        <Card @key="result" Id="result.Id" Image="@result.ImageUrl" RoutableTo="RoutableTo.TvShow" Header="@result.Name"
                              Caption="@DateOnlyHelper.GetTextForCardCaption(result.ReleaseDate)"/>
                    }
                }
            </div>
        </GeneralPageLayout>
    }
</MudContainer>