<div class="mud-theme-primary py-6 py-sm-10">
    @BannerContent
</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
    <MudGrid Class="flex-column-reverse flex-md-row">
        <MudItem xs="12" md="10">
            @MainContent
        </MudItem>
        <MudItem xs="12" md="2">
            @SideContent
        </MudItem>
    </MudGrid>
</MudContainer>