<div class="d-flex flex-column justify-center align-center mt-3">
    <MudText Typo="Typo.h6" Color="Color.Info">There are no matches for this query.</MudText>
    <MudIcon Icon="@Icons.Filled.SearchOff" Size="Size.Large" Color="Color.Info" Class="mt-2"/>
</div>