<div class="d-flex flex-column gap-4">
    <MudText Typo="Typo.h6">@Name</MudText>
    <div class="@GetContentClasses().Container">
        <div class="@GetContentClasses().Wrapper">
            @ChildContent
        </div>
    </div>
</div>