@page "/topListNotFound"
<PageTitle>Top list not found</PageTitle>

<div class="mud-theme-primary py-6 py-sm-10">
    <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column flex-md-row align-center gap-3 gap-md-5">
        <MudText Typo="Typo.h4">Top list does not exist</MudText>
    </MudContainer>
</div>