<MudPaper Elevation="2" MaxWidth="154px" MaxHeight="400px"  Class="d-flex flex-auto flex-column">
    <MudImage Src="@Image"></MudImage>
    <div class="py-2 px-4 d-flex flex-column overflow-hidden">
        <MudText Typo="Typo.h6" Style="line-height: 25px">@Header</MudText>
        <MudText Typo="Typo.caption" Class="mt-1 overflow-hidden" Style="white-space: break-spaces;">11-11-2011</MudText>
    </div>
</MudPaper>
