@page "/movies"
@using BigScreen.Frontend.Core.Enums

<PageTitle>Movies</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Movies</MudText>

<div class="d-flex flex-wrap gap-3">
    @if (ViewModel.Results is not null && ViewModel.Results.Results.Any())
    {
        @foreach (var result in ViewModel.Results.Results)
        {
            <Card Id="result.Id" Image="@result.ImageUrl" RoutableTo="RoutableTo.Movie" Header="@result.Name" Caption="@result.ReleaseDate?.ToString("MMMM dd, yyyy")" />
        }
    }
</div>