.text-nowrap {
    white-space: nowrap;
}

.h-inherit {
    height: inherit;
}

.hover-card.mud-paper:hover {
    box-shadow: var(--mud-elevation-7);
}

@media (min-width: 600px)
{
    .top-banner {
        padding-left: 24px;
        padding-right: 24px;
        height: 200px;
    }
}

.top-banner {
    height: 500px;
    padding-left: 24px;
    padding-right: 24px;
}
